/* variable identitas visual */

$warna-text: #313E17;
$warna-aksen: #6FCF97;
$warna-utama: #2FA084;
$warna-background: #F8F3E1;


$font-utama: 'Lato', sans-serif;

// reset dasar 

*,
*::after,
*::before {
    margin : 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

@mixin center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin respond($ukuran-layar) {
    @if $ukuran-layar == 'mobile' {
        @media (max-width: 37.5em) { @content; }
    }
    @else if $ukuran-layar == 'tablet' {
        @media (max-width: 56.25em) { @content; }
    }
    @else if $ukuran-layar == 'desktop' {
        @media (min-width: 56.25em) { @content; }
    }
}

// Kelas ini bisa ditempel di elemen mana saja di HTML untuk membuat teksnya rata tengah dan memberi jarak bawah yang konsisten.
    .u-center-text { text-align: center; }
    .u-margin-bottom-small { margin-bottom: 1.5rem; }
    .u-margin-bottom-big { margin-bottom: 8rem; }

//* pengaturan body tingkat atas */
 
body {
    font-family: $font-utama;
    font-weight: 400;
    color: $warna-text;
    background-color:$warna-background;
    line-height: 1.6;
    padding: 3rem;
    box-sizing: border-box;
}

//* pengaturan animasi */

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

//* styling header dan teks */

.header {
    height: 95vh;
    position: relative;
    background-image: linear-gradient(
        to right bottom,
        rgba($warna-utama, 0.8),
        rgba($warna-aksen, 0.8)),
        url('../img/hero.jpg');
    background-size:cover;
    background-position:top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position:absolute;
        top:40px;
        left:40px;

        @include respond('mobile') {
            top: 20px;
            left: 20px;
        }
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        @include center-absolute;
        text-align:center;
    }
}

.heading-primary {
    color: $warna-utama;
    text-transform: uppercase;
    margin-bottom: 6rem;


    &__main {
        display: block;
        font-size : 4rem;
        font-weight: 400;
        color: $warna-background;
        letter-spacing: 2rem;
                
        @include respond('mobile') {
            font-size: 3rem; /* Huruf dikecilkan */
            letter-spacing: 0.5rem; /* Jarak huruf dirapatkan agar bisa 1 baris */
        }

        animation: moveInLeft 3s ease-out;
        animation-timing-function: ease-out;
    }

    &__sub {
        display: block;
        font-size: 2rem;
        font-weight:400;
        color: $warna-background;
        letter-spacing: 1rem;

        animation-name: moveInRight;
        animation-duration: 3s;
        animation-timing-function: ease-out;

        @include respond('mobile') {
            font-size: 1.4rem;
            letter-spacing: 0.2rem;
            margin-top: 1rem; /* Memberi sedikit jarak bernapas dari teks atasnya */
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display:inline-block;
    color: $warna-utama;
    margin-bottom: 4rem;

    @include respond('mobile') {
        font-size: 2.5rem; /* Ukuran huruf dirampingkan */
        margin-bottom: 3rem; /* Jarak bawah dirampingkan */
    }

    //* Efek teks gradien yang modern */
    background-image: linear-gradient(to right, $warna-utama, $warna-aksen);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba(0,0,0, .2);
    }
    .heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $warna-text;
    }
}

//* kartu layanan unggulan */
.section-history {
    /* Ini hanya kavling sementara, kita beri tinggi 20vh agar terlihat ada jarak */
    height: 20vh; 
    background-color: $warna-background;
}
.section-services {
    padding: 15rem 3rem;
    background-color: #f4f4f4; /* Abu-abu sangat terang agar kontras dengan kartu putih */
}
.services-grid {
    display: grid;
    //* RAHASIA GRID RESPONSIF: Otomatis menyesuaikan layar! */
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 6rem; /* Jarak antar kartu */
    max-width: 114rem; /* Lebar maksimal area konten */
    margin: 0 auto; /* Otomatis ke tengah layar */
}

.service-card {
    background-color: #ffffff; /* Warna putih bersih untuk kartu */
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0, 0.1); /* Bayangan lembut */
    transition: transform 0.3s, box-shadow 0.3s; /* Animasi transisi yang mulus */

    //* Efek kartu melayang saat disentuh mouse */
    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
        box-shadow: 0 2.5rem 4rem rgba(0,0,0, 0.15);
    }

    &__icon {
        font-size: 6rem;
        margin-bottom: 1.5rem;
    }

    &__text {
        color: #777; //* Warna teks isi kartu agak diabu-abukan agar tidak menyaingi judul */
    }
}

//* styling tombol */
.btn {
    
    //* 1. Pengaturan Dasar Tombol */
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        text-align: center;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;

        @include respond('mobile') {
            padding: 1.2rem 2.5rem; /* Ukuran tombol dirampingkan */
            font-size: 1.3rem; /* Teks dikecilkan agar muat 1 baris */
        }
    }

    //* 2. Efek saat disentuh mouse (Hover) & di-klik (Active) */
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.3);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
    }

    //* 3. Modifier: Tombol Putih (Keluar dari &:link) */
    &__white {
        background-color: $warna-background;
        color: $warna-text;

        //* Ini memberi tahu elemen semu (after) untuk ikut berwarna putih */
        &::after {
            background-color: $warna-background;
        }
    }

    //* 4. Efek Elemen Semu (after) untuk animasi zoom out saat hover */
    &::after {
        content: ''; //* Wajib ada, jangan di-comment! */
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
    
    //* 5. Modifier: Animasi Muncul dari Bawah */
    &__animated {
       //* Menggunakan format sebaris: nama | durasi | timing | delay */
        animation: moveInButton 1s ease-out .75s;
        
        //* Ini adalah "rahasia" agar tombol tidak terlihat sebelum animasinya dimulai */
        animation-fill-mode: backwards; 
    }
}
